{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary {% endblock %}

{% block main %}
Now that you are logged in you can add and edit words and categories
{% endblock %}
{% block main %}
    <form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">Maori word:</div>
        <div class="form-element"><input type="maori" name="maori" id="maori" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">English Translation:</div>
        <div class="form-element"><input type="english" name="english" id="english" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Definition:</div>
        <div class="form-element"><input type="definition" name="definition" id="definition" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input type="password" name="password" id="password" required></div>
    </div>
    <div class="error">{{ error }}</div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Sign Up"></div>
    </div>
    </form>
{% endblock %}