{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
{% if logged_in %}

<p>Now that you are logged in you can add and edit words and categories</p>

    <form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">Category:</div>
        <div class="form-element"><input type="category" name="category" id="category" required></div>
    </div>
    <div class="error">{{ error }}</div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Submit"></div>
    </div>
    </form>
{% endif %}

{% endblock %}
