{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block pageheading %} Log In {% endblock %}
<!-- This is the login form presented on the loging page -->
{% block main %}
    <form class="dataForm" method="POST">
    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><input type="email" name="email" id="email" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input type="password" name="password" id="password" required></div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Log in"></div>
    </div>
    </form>
<!-- This is a link to the sign-up page -->
    <p align="center"><br><br><br>If you don't have an account you can sign up here. <a href="/signup">Sign Up</a> </p>
{% endblock %}