{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}

<h4>As you are a ... you have the ability to remove this word. <br> Would you like to remove it? <br></h4>
<h5><a href="/word/delete_yes/{{ word[0][0] }}">YES</a> or <a href="/word/delete_no">NO</a></h5>
<br>

<table class="word-table">
    <thead>
    <tr>
        <td>Maōri Word:</td>
        <td>English Translation:</td>
        <td>Image:</td>
        <td>Level of Difficulty:</td>
        <td>Time Submitted:</td>
        <td>User Number Submitted by:</td>
    </tr>
    </thead>
    <tbody>
    {% for words in word %}
    <tr>
        <td><p>{{ words[1] }}</p></td>
        <td><p>{{ words[2] }}</p></td>
        <td width="150"><img src="/static/images/{{ words[3] }}"></td>
        <td><p>{{ words[4] }}</p></td>
        <td><p>{{ words[5] }}</p></td>
        <td><p>{{ words[6] }}</p></td>

    </tr>
    </tbody>
    {% endfor %}
</table>

    <form class="dataForm" method="post" target="dictinary/{{id}}">
    <div class="form-group">
        <div class="form-label">Edit word:</div>
        <div class="form-element"><input type="text" name="edit_maori" id="edit_maori" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Edit Translation:</div>
        <div class="form-element"><input type="text" name="edit_english" id="edit_english" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Edit Level:</div>
        {% for i in range(10) %}
            <input type="radio" id="{{ i + 1 }}" name="edit_level" value="{{ i + 1 }}" required>
            <label for="{{ i + 1 }}">{{i + 1}}</label>
        {% endfor %}
    </div>
    <div class="error">{{ error }}</div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Submit"></div>
    </div>
    </form>
{% endblock %}